
.places {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:flex-start;
    position: relative;
    height:100%;
    z-index: 1;
}

.places h1 {
  display: flex;
  align-items: flex-start;
  font-size: 30px;
  width:100%;

}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff515f;
  border-top: 1px solid #ff51602a ;
  border-radius: 4px;

}

.places article h2 {
  font-size: 30px;
  text-align: center;
}
